.container{
    width: 80%;
    margin: auto;
}
.row{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;

}
img{
    width: 100%;
}
/* .col-4{
    box-shadow: 60px -16px rgb(74, 78, 78);
} */